/* default styles */
* {
    font-family: "arial";
    box-sizing: border-box;
}

/* element styles */
h1 {
    text-align: center;
    font-size: 1.75em;
}

/* class styles */
.outerBox {
    margin: 5px;
    background: rgb(223, 223, 223);
    border: 1px solid black;
}

.titleBox { 
    float: right;
    margin-right: -1px;
    margin-top: -1px;
    font-weight: bold;
    border: 1px solid black;
    font-size: 1.25em;
    width: 100px;
    text-align: center;
    padding: 5px;
}

.textBox {
    clear: right;
    padding: 10px;
}

/* id styles */
#redTitleBox {
    background-color: red;
}

#greenTitleBox {
    background-color: green;
}

#blueTitleBox {
    background-color: blue;
}

/* Simple Responsive Framework. */
.row {
    width: 100%;
}

/********** Desktop view **********/
@media (min-width: 992px) {    
    .col-lg-4 {
        float: left;
        width: 33.33%;
    }
}

/********** Tablet view **********/
@media (min-width: 768px) and (max-width: 991px) {
    .col-md-6, .col-md-12 {
        float: left;
    }
    .col-md-6 {
        width: 50%;
    }
    .col-md-12 {
        width: 100%;
    }
}

/********** Mobile view **********/
@media (max-width: 767px) {
    .col-sm-1 {
      float: left;
      width: 100%
    }

}


